html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-container {
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
}

.section-container {
  max-width: 900px;
}

footer {
  height: 50px;
  position: relative;
  transform: translateY(-100%);
}

footer p {
  margin: 0;
}

.badge {
  line-height: 1rem;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
}

.view-btn {
  border-radius: 15px;
}

a {
  text-decoration: none;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.repository-name {
  width: 250px;
}

.blog-link-text {
  color: unset;
}

.dot-flashing {
  /* color: rgb(66, 126, 220); */
  color: var(--bs-primary);
  background-color: var(--bs-primary);
}

.dot-flashing::after {
  background-color: var(--bs-primary);
  color: var(--bs-primary);
}

@keyframes dot-flashing {
  0% {
    background-color: var(--bs-primary);
  }
  50%,
  100% {
    background-color: #277fe36b;
  }
}
